[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "StochSimR"]
	path = StochSimR
	url = https://github.com/ayush291202/stochsimr
